.footer {
  background: $footer-bg-color;
}
.footer__container {
  padding: 61px 0 0 0;
}
.footer__menu-title {
  @extend .inter-500;
  color: $secondary-color;
  margin-top: 40px;
}
.footer ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
}
.footer ul li a{
  color: $white-color;
  text-decoration: none;
  cursor: pointer;
}
.footer__contact-us {
  font-size: 48px;
  color: $white-color;
  line-height: 1;
  margin-top: 40px;
  text-transform: uppercase;
}